a@CHARSET "ISO-8859-1";

#options
{
	text-align:right;
	font-family: Century Gothic;
}


#nav
{
	text-align: center;
	font-size: 100%;
	font-family: Century Gothic;
	font: blue;
}
#LogReg
{
	font-size: 100%;
	font-family: Arial ;
	text-align: right;
	color: white;
}

body
{
	background: url('Background.jpg') no-repeat scroll;
	background-size:100% 100%;
	font-family: Century Gothic;
	color: black;
	text-align: right;

}

